@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");


/* root font default & value default */
* {
  font-family: inter, sans-serif;
  outline: none;
  border: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: inter, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Inisialisasi root warna primer UI */
:root {
    --primary-color: #2ECC71;
    --secondary-color: #2ECC71;
}

/* Mencoba responsivitas dengan media queries */
@media (max-width: 573px) {

  nav ul {
    flex-direction: column;
    align-items: center;

    .img {
      display: none;
    }

    .logo-nav-kiri {
      display: none;
    }

    }
    
    .header-wrapper {
      padding-top: 80px;
    }

    .my-svg {
      display: none;
    }
    }

  /* Penyesuaian letak dengan elemen padding-top karena Sebelumnya ketimpa oleh navbar ketika adaptasi lebar layar */
.header {
  padding-top: 50px;
  padding-bottom: 40px;
  transform: scale(1.08);
}

.my-svg:hover {
  cursor: pointer;
  fill: var(--primary-color);
}

header {
  display: flex;
  justify-content: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  width: 96%;
  background-color: rgba(0 183 21 / 3%);
  border-top: rgba(0 183 21 / 3%) solid 1.5px;
  border-bottom: rgba(0 183 21 /3%) solid 1.5px;

}

.button-header-container {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font-weight: 400;
}

.button-header-wrapper {
  padding-top: 16px;
}

.about, .feature {
  border-radius: 10px;
  font-size: 1.2rem;
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 500;
  
}

.about {
  background-color: var(--primary-color);
  color:#edfff5;
}

.about:hover {
  cursor: pointer;
  background-color: rgb(39, 178, 97, 0%);
  border: 1px solid #219451;
  color: #219451;
  transition: 200ms ease-in-out;
}

.feature {
  background-color: rgba(255, 255, 255, 0%);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 10px;
}

.feature:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  color: #edfff5;
  transition: 200ms ease-in-out;
}


.logo-nav-kiri {
  color: #000;
  text-decoration: none;
}

.span-logo {
    color: var(--secondary-color);
    background-color: #cbffcc;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.logo-kiri {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  column-gap: 18px;
  font-size: 1.2rem;
}

/* Penyesuaian navbar agar posisinya tetap fix ketika website discroll */
.navbar {
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  font-size: 1rem;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.030);
  /* border: 1px solid rgba(0, 0, 0, 0.080); */
}

/* Memposisikan display list menu dari navbar menjadi sejajar dan flex-end */
nav ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    padding-right: 50px;
    justify-content: flex-end;
    align-items: center;
  }

  nav li a {
    display: block;
    color: #333;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  .menu {
    padding: 12px;
    border-radius: 12px;
  }

  /* Membuat animasi perubahan warna dan posisi saat dihover pada menu navigation bar agar lebih terasa dinamis dan interaktif*/
  .menu:hover {
    transform: translateY(2.5px);
    border-radius: 12px;
    color: var(--secondary-color);
    background-color: #cbffcc;
    transition: ease-in-out 0.2s;
  }


/* Memposisikan judul & subjudul jadi di tengah */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
/* Penyesuaian style subjudul agar judul bisa lebih disorot user */
  .subjudul {
    font-size: 1rem;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
  }

/* Warna span dari judul */
.calc {
  color: var(--secondary-color);
  padding: 4px;
}

.calc:hover {
  cursor: pointer;
  color: var(--secondary-color);
  background-color: rgba(0, 183, 21, 10%);
  border-radius: 10px;
  transition: ease-in 0.2s;
}

/* .calc:hover::after {
  content: '+';
  transition: ease-in 0.2s;
  
} */

/* Styling section gender */
.jenis-kelamin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 14px;
}

/* Membuat gender option menjadi sejajar */
.pria {
  display: flex;
}

.wanita {
  display: flex;
}

.gender-container {
    display: flex;
    width: 200px;
    height: 50px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 2px 30px 0px rgba(184, 184, 184, 0.350);
}

/* Mengatur agar user input menjadi baris */
  .form, input {
    display: block;
  }

/* Memberi jarak antar input */
.form {
  padding-bottom: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.500);
}

/* Penyesuaian style input */
input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 6px;
}

/* Penyesuaian posisi & text-size */
  .form-container, input {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }

/* Align ke center */
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .form-container {
    width: 250px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 2px 30px 0px rgba(184, 184, 184, 0.350);
    transform: scale(1.2)
    translateY(40px);
  }
  
  /* Penyesuaian warna outline saat user memasukkan input agar tidak terlalu kontras */
  .form input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.8);
}

/* Styling button */
.calculate {
  padding: 8px;
  border-radius: 16px;
  border: none;
  font-size: 1em;
  font-weight: 500;
}

.button-container {
    column-gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculate {
  width: 100%;
  padding-left: 14.5px;
  padding-right: 14.5px;
  color: #fff;
  background-color: var(--primary-color);
  /* border: 1px solid rgba(0, 0, 0, 0.5) */
}

.calculate:hover {
  cursor: pointer;
  color: #fff;
  background-color: #25a35a;
  /* transform: translateY(1.4px); */
  transition: ease-in-out 0.2s;
}

.hasil-container {
  background-color: rgba(0, 209, 3, 0.040);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  row-gap: 10px;
}

.result-wrapper {
  display: none;
  padding-top: 30px;
}

.result-container {
  display: flex;
  background-color: rgb(70 209 129 / 90%);
  color: #a1ffc7;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 16px;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 700;
}

.comment {
  border: 1px dashed rgba(0, 0, 0, 0.500);
  border-radius: 6px;
  padding: 10px;
}

li {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.list {
  color: #000;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}

main .article {
  padding: 8rem 7%;
  padding-bottom: 20px;
}

.footer {
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
    color: #ffffff;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: 0px 10px 70px 0px rgba(184, 184, 184, 0.500);
}

.footer-content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
  list-style: none;
}

.menu-footer-container li a {
  text-decoration: none;
  font-weight: 400;
  color: #fff;
}

.menu-footer-container {
  display: flex;
  column-gap: 30px;
}

.menu-footer-container::before {
  content: "|";
}