
/* root font default */
* {
  font-family: inter, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: inter, sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Inisialisasi root warna primer UI */
:root {
    --primary-color: #00aa13;
    --secondary-color: #09d922;
    --button-primary: #00d103;
    --button-secondary: #00c203;
}

/* Mencoba responsivitas dengan media queries */
@media (max-width: 573px) {

  nav ul {
    flex-direction: column;
    align-items: center;

    .img {
      display: none;
    }

    .logo-nav-kiri {
      display: none;
    }

    }
    
    .header-wrapper {
      padding-top: 80px;

    }
    }

  /* Penyesuaian letak dengan elemen padding-top karena Sebelumnya ketimpa oleh navbar ketika adaptasi lebar layar */
.header {
  padding-top: 60px;
}

.logo-nav-kiri {
  color: #000;
  text-decoration: none;
}

.span-logo {
  color: var(--secondary-color);
    background-color: #cbffcc;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 10px;
}

.logo-kiri {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  column-gap: 30px;
  font-size: 1.2rem;
}

/* Penyesuaian navbar agar posisinya tetap fix ketika website discroll */
.navbar {
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  font-size: 1rem;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.030);
  /* border: 1px solid rgba(0, 0, 0, 0.080); */
}

/* Memposisikan display list menu dari navbar menjadi sejajar dan flex-end */
nav ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    padding-right: 50px;
    justify-content: flex-end;
    align-items: center;
  }

  nav li a {
    display: block;
    color: #333;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  /* Membuat animasi perubahan warna dan posisi saat dihover pada menu navigation bar agar lebih terasa dinamis dan interaktif*/
  .menu:hover {
    transform: translateY(2.5px);
    border-radius: 12px;
    /* background-color: var(--primary-color); */
    color: rgba(0, 0, 0, 0.5);
    transition: ease-in 0.1s;
  }


/* Memposisikan judul & subjudul jadi di tengah */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
/* Penyesuaian style subjudul agar judul bisa lebih disorot user */
  .subjudul {
    font-size: 1rem;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
  }

/* Warna span dari judul */
.calc {
  color: var(--secondary-color);
}

/* Styling section gender */
.jenis-kelamin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Membuat gender option menjadi sejajar */
.pria {
  display: flex;
}

.wanita {
  display: flex;
}

.gender-container {
    display: flex;
    width: 200px;
    height: 50px;
    column-gap: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 10px 70px 0px rgba(184, 184, 184, 0.500);
}

/* Mengatur agar user input menjadi baris */
  .form, input {
    display: block;
  }

/* Memberi jarak antar input */
.form {
  padding-bottom: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.500);
}

/* Penyesuaian style input */
input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 6px;
}

/* Penyesuaian posisi & text-size */
  .form-container, input {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }

/* Align ke center */
  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .form-container {
    width: 250px;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 70px 0px rgba(184, 184, 184, 0.500);
    transform: scale(1.2)
    translateY(40px);
  }
  
  /* Penyesuaian warna outline saat user memasukkan input agar tidak terlalu kontras */
  .form input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.8);
}

/* Styling button */
.calculate {
  padding: 8px;
  border-radius: 16px;
  border: none;
  font-size: 1em;
  font-weight: 500;
}

.button-container {
    column-gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.calculate {
  width: 100%;
  padding-left: 14.5px;
  padding-right: 14.5px;
  color: #fff;
  background-color: var(--button-primary);
  /* border: 1px solid rgba(0, 0, 0, 0.5) */
}

.calculate:hover {
  cursor: pointer;
  color: #fff;
  background-color: #349b00;
  /* transform: translateY(1.4px); */
  transition: ease-in-out 0.2s;
}

.hasil-container {
  background-color: rgba(0, 209, 3, 0.040);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  row-gap: 10px;
}

.result-wrapper {
  display: none;
  padding-top: 30px;
}

.result-container {
  display: flex;
  background-color: #e6ffd7;
  color: #6cff14;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 16px;
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
}

main .article {
  padding: 8rem 7%;
}

.footer {
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
    width: 100%;
    color: #fff;
    padding-top: 1.1em;
    padding-bottom: 1.1em;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

.footer-content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  align-items: center;
}