
/* root font default */
* {
  font-family: inter, sans-serif;
  box-sizing: border-box;
}

body {
  font-family: inter, sans-serif;
  background-color: #fff;
}

/* Inisialisasi root warna primer UI */
:root {
    --primary-color: #2bed00;
    --secondary-color: #08e600;
    --button-primary: #25ca00;
}

/* Mencoba responsivitas dengan media queries */
@media (max-width: 668px) {
  nav ul {
    flex-direction: column;
    align-items: center;

    .img {
      display: none;
    }
  }

  /* Penyesuaian letak dengan elemen padding-top karena Sebelumnya ketimpa oleh navbar ketika adaptasi lebar layar */
  .header {
    padding-top: 70px;
  }
}

.img {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  column-gap: 30px;
  font-size: 1.2rem;
}

/* Penyesuaian navbar agar posisinya tetap fix ketika website discroll */
.navbar {
  padding: 0;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 999;
  font-size: 1rem;
  position: fixed;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.030);
  /* border: 1px solid rgba(0, 0, 0, 0.090); */
}

/* Memposisikan display list menu dari navbar menjadi sejajar dan flex-end */
nav ul {
    display: flex;
    column-gap: 20px;
    list-style-type: none;
    padding-right: 50px;
    justify-content: flex-end;
    align-items: center;
  }

  nav li a {
    display: block;
    color: #333;
    font-weight: 400;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
  }

  /* Membuat animasi perubahan warna dan posisi saat dihover pada menu navigation bar agar lebih terasa dinamis dan interaktif*/
  a:hover {
    transform: translateY(2.5px);
    border-radius: 12px;
    /* background-color: var(--primary-color); */
    color: rgba(0, 0, 0, 0.5);
    transition: ease-in 0.1s;
  }

/* Memposisikan judul & subjudul jadi di tengah */
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
/* Penyesuaian style subjudul agar judul bisa lebih disorot user */
  .subjudul {
    font-size: 1rem;
    font-weight: 400;
    color:rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-left: 14px;
    margin-right: 14px;
  }

/* Warna span dari judul */
.calc {
  color: var(--primary-color);
}

/* Styling section jenis kelamin */
.jenis-kelamin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gender-container {
    display: flex;
    width: 200px;
    height: 50px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 10px 70px 0px rgba(184, 184, 184, 0.500);
}

/* Mengatur agar user input menjadi baris */
  .form, input {
    display: block;
  }

/* Memberi jarak antar input */
.form {
  padding-bottom: 10px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.500);
}

/* Penyesuaian style input */
input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  border-radius: 6px;
}

/* Penyesuaian posisi & text-size */
  .form-container, input {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }

  .form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-container {
    width: 260px;
    border-radius: 26px;
    padding-top: 20px;
    padding-bottom: 30px;
    box-shadow: 0px 10px 70px 0px rgba(184, 184, 184, 0.500);
    transform: scale(1.2)
    translateY(40px);
}

/* Penyesuaian warna outline saat user memasukkan input agar tidak terlalu kontras */
.form input:focus {
  outline: 1px solid rgba(0, 0, 0, 0.8);
}

button {
  padding: 8px;
  border-radius: 16px;
  border: none;
  font-size: 1em;
  font-weight: 500;
}

.button-container {
    display: flex;
    column-gap: 12px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reset {
  width: 40%;
  color: #121212;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(29, 29, 29, 0.5)
}


.reset:hover {
  cursor: pointer;
  color: #fff;
  background-color: rgb(29, 29, 29);
  /* transform: translateY(1.4px); */
  transition: ease-in-out 0.2s;
}

.hitung {
  padding-left: 14.5px;
  padding-right: 14.5px;
  color: #fff;
  background-color: var(--button-primary);
  /* border: 1px solid rgba(0, 0, 0, 0.5) */
}

.hitung:hover {
    cursor: pointer;
    color: #fff;
    background-color: #349b00;
    /* transform: translateY(1.4px); */
    transition: ease-in-out 0.2s;
}

main .article {
  padding: 8rem 7%;
}